fieldset{
    border-radius:20px;
    border: 4px solid #55a5e1 ;
}
th{
    background-color:#55a5e1;
    color:aliceblue;
    border-radius: 15px;
    border-color: black;
}
table{
    border-radius: 20px;
}
*{
    background-color:aliceblue;
}
td{
    border-radius:20px 
}
